<div class="col-sm-8 col-md-6">
	<article>
		<header>
			<h1>{{__ "About"}}</h1>
		</header>
		<hr>
		<div class="content">
			Coming soon...
		</div>
		<hr>
		<footer>
			<a class="btn btn-large btn-default" href="#">
				<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
				{{__ "Top"}}
			</a>

			<a class="btn btn-large btn-default buttonGoBack" href="#">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				{{__ "Go Back"}}
			</a>
		</footer>
	</article>
</div>

