<ul class="pagination">
	<li {{#unless data.portfolios.previous}}class="disabled"{{/unless}}>
		<a href="{{paginationPreviousUrl data.portfolios.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{paginationNavigation data.portfolios.pages data.portfolios.currentPage data.portfolios.totalPages}}}
	<li {{#unless data.portfolios.next}}class="disabled"{{/unless}}>
		<a href="{{paginationNextUrl data.portfolios.next data.portfolios.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
