.navbar-text {
  font-size: 12px;
}

.navbar-form > label {
  font-weight: 400;
  color: #777777;
	width: 100%;
}

.navbar-form .input-group {
	margin-bottom: 8px;
}

.input-group .navbar-button {
	width: 100%;
}

.navbar-form .input-group {
	width: 100%;
}

.navbar-form .form-control {
	width: 100%;
}

.navbar-fixed-side .navbar-nav .dropdown-menu>li>a, .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
	padding: 2px 15px 2px 15px;
}

@media(max-width: @container-tablet) {
  .navbar-form {
    margin-bottom: -9px;
  }

	.navbar-brand {
    padding: 8px 0px 0px 12px;
  }
}

@media (min-width: 768px) {
	.navbar-fixed-side .navbar-nav .dropdown-menu > li > a,
	.navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
		padding: 2px 15px 2px 25px;
	}
}
