h1, h2, h3, h4 {
  font-family: 'Aero Matics Regular';
  margin-top: 0px;
  color: #000000;
	line-height: 0.9;
}

h1 {
	font-size: 28px;
}

hr {
  border-top: 1px dashed #eeeeee;
}

article {
  margin-bottom: 20px;
}

#flash-messages {
  padding: 0px;
}

#body {
  margin-top: 30px;
}

body {
	margin-bottom: 30px;
}

.date {
	font-size: 11px;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.inner-addon {
  position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
	color: #000000;
}

.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 0px;
}

.left-addon input {
	padding-left:  30px;
}

.right-addon input {
	padding-right: 30px;
}

@media(max-width: @container-tablet) {
  #body {
    margin-top: 10px;
  }
}

