.thumbnail {
  padding: 0px 0px 4px 0px;
}

.thumbnail > a > img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
}

.caption > h2 {
  margin-top: 4px;
}

.caption > .lead {
  font-size: 14px;
}

.caption > hr {
  margin: -10px 0px 10px 0px;
}

.caption > .date {
  margin-bottom: 0px;
  font-size: 12px;
}

h2 > a {
  color: inherit;
  font-size: 24px;
}

.masonry-container > .item {
  padding: 0px 6px 0px 6px;
}
