/* Default override starts */
#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Font override starts */
h1, h2, h3, h4 {
	font-family: 'Aero Matics Regular';
	margin-top: 0px;
	color: #000000;
}
/* Font override ends */

/* Google captcha starts */
.g-recaptcha {
	margin-bottom: 10px;
}
/* Google captcha ends */

#flash-messages {
	padding: 0px;
}

#body {
	margin-top: 30px;
}

/* Masonry thumbnail adjustment starts */
body {
  background-color: #eeeeee;
}
.thumbnail {
  padding: 0px 0px 4px 0px;
}

.thumbnail > a > img {
  border-radius: 4px 4px 0px 0px;
	width: 100%;
}

.caption > h2 {
	margin-top: 4px;
}

.caption > .lead {
	font-size: 14px;
}

.caption > hr {
	margin: -10px 0px 10px 0px;
	border-top: 1px dashed #eeeeee;
}

.caption > .date {
	margin-bottom: 0px;
	font-size: 12px;
}

h2 > a {
	color: inherit;
	font-size: 24px;
}

/* Masonry thumbnail adjustment ends */

/* Side navbar adjustment starts */
.navbar-text {
	font-size: 12px;
}

.navbar-fixed-side .navbar-form, .navbar-fixed-side .navbar-nav > li > a {
	border-bottom: 1px dashed #e7e7e7;
}
/* Side navbar adjustment ends */

/* Small screen specific adjustment starts */
@media(max-width: @container-tablet) {
	.navbar-brand {
		padding: 8px 0px 0px 12px;
	}

	#body {
		margin-top: 10px;
	}
}
/* Small screen specific adjustment ends */
